html, body {
  padding: 0;
  margin: 0;
}

header, nav, nav > ul {
  height: 50px;
  margin: 0;
  background-color: #AAA;
  color: #fff;
}
header a {
  color: #fff;
}
header li {
  display: inline-block;
  list-style: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}

.page {
  width: 800px;
  margin: 30px auto 0 auto;
  background-color: #CCC;
  padding: 30px;
  border-radius: 5px;
}

table {
  width: 100%;
  text-align: center;
}

.cart.page form {
  display: inline-block;
}
.align-right {
  text-align: right;
}